body {
    display:flex;
    flex-direction: column;
    min-height: 100hv;
    margin: 0;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
/* Header Section */
.header {
    display:flex;
    justify-content: space-between;
    color: #F9FAF8;
    background-color:#1F2937;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

    .logo {
        font-size: 24px;
    }

    .toplinks {
        display: flex;
        gap: 20px;
    }
/* First Text Section Labelled Top */
.top {
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 21%;
    align-items: center;
}
    .container {
        display: flex;
        justify-content: space-between;
        background-color:#1F2937;
        padding-top:75px;
        padding-bottom: 75px;
        
        
    }
        .topleft {
            display: flex;
            flex-direction: column;
            height:250px;
            width: 50%;
            flex-wrap: wrap;
            justify-content: space-around;
   
        }
            .topleft1 {
                width:70%;
            }
            .topleft2 {
                width: 80%;
            }
            .topleft button {
                align-self: flex-start;
                height: 40px;
                width: 20%;
                font-size:18px;
                font-weight: bold;
            }

        .topright {
            height:250px;
            width: 25%;
           /* padding-right: 11%;*/
            display:flex;
            justify-content: center;

        
        }
            .toprightimg {
                width: fit-content;
            }
button {
    background-color: #3882F6; 
    color: #e5e7eb; 
    border-radius: 6px;   
}

.pics {
    background-color: white;
    display: flex;
    flex-direction:column;
    padding-left:20%;
    padding-right: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .picstitle{
        align-self:center;
        color: #1F2937;
        font-size: 36px;
        font-weight:800;
     }

     .info {
        display:flex;
        flex-direction: column;
     }
        .squares{
            display:flex;
            justify-content: space-evenly;
        
        }
            .square {
                border: 3px #3882f6 solid;
                height: 150px;
                width: 150px;
                flex-shrink:0;
                border-radius: 6px;
            }
        .paragraphs {
            display: flex;
            justify-content: space-evenly;
        }
            .p {
                height: 100px;
                width: 150px;
                align-self: center;
                text-align: center;
            }

.quotesection {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
    .quote {
        color: rgb(171, 170, 170);
        font-weight: 400;
        font-size: 36pt;
        font-style: italic;
    }

.bottom {
    background-color: white;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    height:50vh;
}
    .actioncall {
        background-color: #3882F6;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 50%;
        color: white;
    }

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0% 1% 0%;
}