body {
    display:flex;
    flex-direction: column;
    min-height: 100hv;
    margin: 0;
    justify-content: center;
}
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
/* Header Section */
.header {
    display:flex;
    justify-content: space-between;
    color: #F9FAF8;
    background-color:#1F2937;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

    .logo {
        font-size: 24px;
    }

    .toplinks {
        display: flex;
        gap: 20px;
    }
/* First Text Section Labelled Top */
.top {
    display:flex;
    justify-content: center;
}
    .container {
        display: flex;
        justify-content: center;
        background-color:#1F2937;
        padding-left: 15%;
        padding-right: 15%;
        padding-top:75px;
        padding-bottom: 75px;
        align-items: center;
        gap:135px;
    }
        .topleft {
            display: flex;
            flex-direction: column;
            height:300px;
            width: 50%;
            flex-wrap: wrap;
            justify-content: space-around;
        }
            .topleft1 {
                width:70%;
            }
            .topleft2 {
                width: 80%;
            }
            .topleft button {
                align-self: flex-start;
                height: 40px;
                width: 20%;
                font-size:18px;
                font-weight: bold;
            }

        .topright {
            height:300px;
            width: 25%;
            padding-right: 11%;
            display:flex;
            justify-content: center;
        }
            .toprightimg {
                width: fit-content;
            }
button {
    background-color: #3882F6; 
    color: #e5e7eb; 
    border-radius: 6px;   
}

.pics {
    background-color: white;
    display: flex;
    flex-direction:column;
    padding-left:20%;
    padding-right: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .picstitle{
        align-self:center;
        color: #1F2937;
        font-size: 36px;
        font-weight:800;
     }

     .info {
        display:flex;
        flex-direction: column;
     }
        .squares{
            display:flex;
            justify-content: space-evenly;
        
        }
            .square {
                background-color: #3882f6;
                border: 1px;
                height: 150px;
                width: 150px;
                flex-shrink:0;
                border-radius: 6px;
            }
        .paragraphs {
            display: flex;
            justify-content: space-evenly;
        }
            .p {
                height: 100px;
                width: 150px;
                align-self: center;
                text-align: center;
            }